<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="http://localhost:3000/answer">
  <input type="text" name="question">  <!-- we define a parameter with key name = question which is added to params in the webpage specified by the action url -->
  <input type="submit" value="Ask!">
</form>



